#login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
body {
    --shade-1: #462255;
    --shade-2: #313B72;
    --shade-3: #17B890;
    --shade-4: #7EE081;
    --shade-5: #C3F3C0;
    --color: #141313;
    --background-color: #e7e7e7;
    --background-color-light: #535357;
    background: var(--background-color);
    font-family: "Montserrat", 'Lucida Sans', sans-serif;
    overflow-x: hidden;
}